In [17]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.5-cp39-cp39-win_amd64.whl (1.2 MB)
     ---------------------------------------- 1.2/1.2 MB 1.2 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.5

In [ ]:
import pandas as pd

## Inisialisasi postgresql elephantsql

In [25]:
import os
import urllib.parse as up
import psycopg2

%env DATABASE_URL=postgres://htaeovkk:dBR1FBnoLd495wPx260Q_8xQNYXHMZif@floppy.db.elephantsql.com/htaeovkk

up.uses_netloc.append("postgres")
url = up.urlparse(os.environ['DATABASE_URL'])
conn = psycopg2.connect(database=url.path[1:],
user=url.username,
password=url.password,
host=url.hostname,
port=url.port
)

env: DATABASE_URL=postgres://htaeovkk:dBR1FBnoLd495wPx260Q_8xQNYXHMZif@floppy.db.elephantsql.com/htaeovkk

## Koneksi postgresql elephantsql

In [32]:
# Replace with your own database URL and credentials
url = "postgres://htaeovkk:dBR1FBnoLd495wPx260Q_8xQNYXHMZif@floppy.db.elephantsql.com/htaeovkk"

conn = psycopg2.connect(url)

cur = conn.cursor()
cur.execute("SELECT sepalwidthcm FROM iris")
rows = cur.fetchall()

for row in rows:
    print(row)

(Decimal('0.00'),)
(Decimal('3.50'),)
(Decimal('3.00'),)
(Decimal('3.20'),)
(Decimal('3.10'),)
(Decimal('3.60'),)
(Decimal('3.90'),)
(Decimal('3.40'),)
(Decimal('3.40'),)
(Decimal('2.90'),)
(Decimal('3.10'),)
(Decimal('3.70'),)
(Decimal('3.40'),)
(Decimal('3.00'),)
(Decimal('3.00'),)
(Decimal('4.00'),)
(Decimal('4.40'),)
(Decimal('3.90'),)
(Decimal('3.50'),)
(Decimal('3.80'),)
(Decimal('3.80'),)
(Decimal('3.40'),)
(Decimal('3.70'),)
(Decimal('3.60'),)
(Decimal('3.30'),)
(Decimal('3.40'),)
(Decimal('3.00'),)
(Decimal('3.40'),)
(Decimal('3.50'),)
(Decimal('3.40'),)
(Decimal('3.20'),)
(Decimal('3.10'),)
(Decimal('3.40'),)
(Decimal('4.10'),)
(Decimal('4.20'),)
(Decimal('3.10'),)
(Decimal('3.20'),)
(Decimal('3.50'),)
(Decimal('3.10'),)
(Decimal('3.00'),)
(Decimal('3.40'),)
(Decimal('3.50'),)
(Decimal('2.30'),)
(Decimal('3.20'),)
(Decimal('3.50'),)
(Decimal('3.80'),)
(Decimal('3.00'),)
(Decimal('3.80'),)
(Decimal('3.20'),)
(Decimal('3.70'),)
(Decimal('3.30'),)
(Decimal('3.20'),)
(Decimal('3.20'),)
(Decimal('3.10'),)
(Decimal('2.30'),)
(Decimal('2.80'),)
(Decimal('2.80'),)
(Decimal('3.30'),)
(Decimal('2.40'),)
(Decimal('2.90'),)
(Decimal('2.70'),)
(Decimal('2.00'),)
(Decimal('3.00'),)
(Decimal('2.20'),)
(Decimal('2.90'),)
(Decimal('2.90'),)
(Decimal('3.10'),)
(Decimal('3.00'),)
(Decimal('2.70'),)
(Decimal('2.20'),)
(Decimal('2.50'),)
(Decimal('3.20'),)
(Decimal('2.80'),)
(Decimal('2.50'),)
(Decimal('2.80'),)
(Decimal('2.90'),)
(Decimal('3.00'),)
(Decimal('2.80'),)
(Decimal('3.00'),)
(Decimal('2.90'),)
(Decimal('2.60'),)
(Decimal('2.40'),)
(Decimal('2.40'),)
(Decimal('2.70'),)
(Decimal('2.70'),)
(Decimal('3.00'),)
(Decimal('3.40'),)
(Decimal('3.10'),)
(Decimal('2.30'),)
(Decimal('3.00'),)
(Decimal('2.50'),)
(Decimal('2.60'),)
(Decimal('3.00'),)
(Decimal('2.60'),)
(Decimal('2.30'),)
(Decimal('2.70'),)
(Decimal('3.00'),)
(Decimal('2.90'),)
(Decimal('2.90'),)
(Decimal('2.50'),)
(Decimal('2.80'),)
(Decimal('3.30'),)
(Decimal('2.70'),)
(Decimal('3.00'),)
(Decimal('2.90'),)
(Decimal('3.00'),)
(Decimal('3.00'),)
(Decimal('2.50'),)
(Decimal('2.90'),)
(Decimal('2.50'),)
(Decimal('3.60'),)
(Decimal('3.20'),)
(Decimal('2.70'),)
(Decimal('3.00'),)
(Decimal('2.50'),)
(Decimal('2.80'),)
(Decimal('3.20'),)
(Decimal('3.00'),)
(Decimal('3.80'),)
(Decimal('2.60'),)
(Decimal('2.20'),)
(Decimal('3.20'),)
(Decimal('2.80'),)
(Decimal('2.80'),)
(Decimal('2.70'),)
(Decimal('3.30'),)
(Decimal('3.20'),)
(Decimal('2.80'),)
(Decimal('3.00'),)
(Decimal('2.80'),)
(Decimal('3.00'),)
(Decimal('2.80'),)
(Decimal('3.80'),)
(Decimal('2.80'),)
(Decimal('2.80'),)
(Decimal('2.60'),)
(Decimal('3.00'),)
(Decimal('3.40'),)
(Decimal('3.10'),)
(Decimal('3.00'),)
(Decimal('3.10'),)
(Decimal('3.10'),)
(Decimal('3.10'),)
(Decimal('2.70'),)
(Decimal('3.20'),)
(Decimal('3.30'),)
(Decimal('3.00'),)
(Decimal('2.50'),)
(Decimal('3.00'),)
(Decimal('3.40'),)
(Decimal('3.00'),)

## Koneksi postgresql local

In [40]:
conn = psycopg2.connect(
    dbname="prosain20041110007",
    user="postgres",
    password="2020",
    host="localhost",
    port="5432"
)

# Create a cursor object
cur = conn.cursor()

# Execute a SQL query
cur.execute("SELECT sepallengthcm FROM iris;")

# Fetch the results
results = cur.fetchall()

# Print the results
for row in results:
    print(row)

# Close the cursor and connection objects when you're done
cur.close()
conn.close()

(0.0,)
(5.1,)
(4.9,)
(4.7,)
(4.6,)
(5.0,)
(5.4,)
(4.6,)
(5.0,)
(4.4,)
(4.9,)
(5.4,)
(4.8,)
(4.8,)
(4.3,)
(5.8,)
(5.7,)
(5.4,)
(5.1,)
(5.7,)
(5.1,)
(5.4,)
(5.1,)
(4.6,)
(5.1,)
(4.8,)
(5.0,)
(5.0,)
(5.2,)
(5.2,)
(4.7,)
(4.8,)
(5.4,)
(5.2,)
(5.5,)
(4.9,)
(5.0,)
(5.5,)
(4.9,)
(4.4,)
(5.1,)
(5.0,)
(4.5,)
(4.4,)
(5.0,)
(5.1,)
(4.8,)
(5.1,)
(4.6,)
(5.3,)
(5.0,)
(7.0,)
(6.4,)
(6.9,)
(5.5,)
(6.5,)
(5.7,)
(6.3,)
(4.9,)
(6.6,)
(5.2,)
(5.0,)
(5.9,)
(6.0,)
(6.1,)
(5.6,)
(6.7,)
(5.6,)
(5.8,)
(6.2,)
(5.6,)
(5.9,)
(6.1,)
(6.3,)
(6.1,)
(6.4,)
(6.6,)
(6.8,)
(6.7,)
(6.0,)
(5.7,)
(5.5,)
(5.5,)
(5.8,)
(6.0,)
(5.4,)
(6.0,)
(6.7,)
(6.3,)
(5.6,)
(5.5,)
(5.5,)
(6.1,)
(5.8,)
(5.0,)
(5.6,)
(5.7,)
(5.7,)
(6.2,)
(5.1,)
(5.7,)
(6.3,)
(5.8,)
(7.1,)
(6.3,)
(6.5,)
(7.6,)
(4.9,)
(7.3,)
(6.7,)
(7.2,)
(6.5,)
(6.4,)
(6.8,)
(5.7,)
(5.8,)
(6.4,)
(6.5,)
(7.7,)
(7.7,)
(6.0,)
(6.9,)
(5.6,)
(7.7,)
(6.3,)
(6.7,)
(7.2,)
(6.2,)
(6.1,)
(6.4,)
(7.2,)
(7.4,)
(7.9,)
(6.4,)
(6.3,)
(6.1,)
(7.7,)
(6.3,)
(6.4,)
(6.0,)
(6.9,)
(6.7,)
(6.9,)
(5.8,)
(6.8,)
(6.7,)
(6.7,)
(6.3,)
(6.5,)
(6.2,)
(5.9,)

In [44]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.32-cp39-cp39-win_amd64.whl (7.9 MB)
     ---------------------------------------- 7.9/7.9 MB 1.5 MB/s eta 0:00:00
Collecting protobuf<=3.20.3,>=3.11.0
  Downloading protobuf-3.20.3-cp39-cp39-win_amd64.whl (904 kB)
     -------------------------------------- 904.2/904.2 kB 2.0 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.32 protobuf-3.20.3
Note: you may need to restart the kernel to use updated packages.

## Koneksi mysql local

In [50]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="prosain200411100007"
)
cursor = mydb.cursor()
cursor.execute("SELECT PetalLengthCm FROM iris")
result = cursor.fetchall()

for x in result:
  print(x)

(Decimal('0.00'),)
(Decimal('1.40'),)
(Decimal('1.40'),)
(Decimal('1.30'),)
(Decimal('1.50'),)
(Decimal('1.40'),)
(Decimal('1.70'),)
(Decimal('1.40'),)
(Decimal('1.50'),)
(Decimal('1.40'),)
(Decimal('1.50'),)
(Decimal('1.50'),)
(Decimal('1.60'),)
(Decimal('1.40'),)
(Decimal('1.10'),)
(Decimal('1.20'),)
(Decimal('1.50'),)
(Decimal('1.30'),)
(Decimal('1.40'),)
(Decimal('1.70'),)
(Decimal('1.50'),)
(Decimal('1.70'),)
(Decimal('1.50'),)
(Decimal('1.00'),)
(Decimal('1.70'),)
(Decimal('1.90'),)
(Decimal('1.60'),)
(Decimal('1.60'),)
(Decimal('1.50'),)
(Decimal('1.40'),)
(Decimal('1.60'),)
(Decimal('1.60'),)
(Decimal('1.50'),)
(Decimal('1.50'),)
(Decimal('1.40'),)
(Decimal('1.50'),)
(Decimal('1.20'),)
(Decimal('1.30'),)
(Decimal('1.50'),)
(Decimal('1.30'),)
(Decimal('1.50'),)
(Decimal('1.30'),)
(Decimal('1.30'),)
(Decimal('1.30'),)
(Decimal('1.60'),)
(Decimal('1.90'),)
(Decimal('1.40'),)
(Decimal('1.60'),)
(Decimal('1.40'),)
(Decimal('1.50'),)
(Decimal('1.40'),)
(Decimal('4.70'),)
(Decimal('4.50'),)
(Decimal('4.90'),)
(Decimal('4.00'),)
(Decimal('4.60'),)
(Decimal('4.50'),)
(Decimal('4.70'),)
(Decimal('3.30'),)
(Decimal('4.60'),)
(Decimal('3.90'),)
(Decimal('3.50'),)
(Decimal('4.20'),)
(Decimal('4.00'),)
(Decimal('4.70'),)
(Decimal('3.60'),)
(Decimal('4.40'),)
(Decimal('4.50'),)
(Decimal('4.10'),)
(Decimal('4.50'),)
(Decimal('3.90'),)
(Decimal('4.80'),)
(Decimal('4.00'),)
(Decimal('4.90'),)
(Decimal('4.70'),)
(Decimal('4.30'),)
(Decimal('4.40'),)
(Decimal('4.80'),)
(Decimal('5.00'),)
(Decimal('4.50'),)
(Decimal('3.50'),)
(Decimal('3.80'),)
(Decimal('3.70'),)
(Decimal('3.90'),)
(Decimal('5.10'),)
(Decimal('4.50'),)
(Decimal('4.50'),)
(Decimal('4.70'),)
(Decimal('4.40'),)
(Decimal('4.10'),)
(Decimal('4.00'),)
(Decimal('4.40'),)
(Decimal('4.60'),)
(Decimal('4.00'),)
(Decimal('3.30'),)
(Decimal('4.20'),)
(Decimal('4.20'),)
(Decimal('4.20'),)
(Decimal('4.30'),)
(Decimal('3.00'),)
(Decimal('4.10'),)
(Decimal('6.00'),)
(Decimal('5.10'),)
(Decimal('5.90'),)
(Decimal('5.60'),)
(Decimal('5.80'),)
(Decimal('6.60'),)
(Decimal('4.50'),)
(Decimal('6.30'),)
(Decimal('5.80'),)
(Decimal('6.10'),)
(Decimal('5.10'),)
(Decimal('5.30'),)
(Decimal('5.50'),)
(Decimal('5.00'),)
(Decimal('5.10'),)
(Decimal('5.30'),)
(Decimal('5.50'),)
(Decimal('6.70'),)
(Decimal('6.90'),)
(Decimal('5.00'),)
(Decimal('5.70'),)
(Decimal('4.90'),)
(Decimal('6.70'),)
(Decimal('4.90'),)
(Decimal('5.70'),)
(Decimal('6.00'),)
(Decimal('4.80'),)
(Decimal('4.90'),)
(Decimal('5.60'),)
(Decimal('5.80'),)
(Decimal('6.10'),)
(Decimal('6.40'),)
(Decimal('5.60'),)
(Decimal('5.10'),)
(Decimal('5.60'),)
(Decimal('6.10'),)
(Decimal('5.60'),)
(Decimal('5.50'),)
(Decimal('4.80'),)
(Decimal('5.40'),)
(Decimal('5.60'),)
(Decimal('5.10'),)
(Decimal('5.10'),)
(Decimal('5.90'),)
(Decimal('5.70'),)
(Decimal('5.20'),)
(Decimal('5.00'),)
(Decimal('5.20'),)
(Decimal('5.40'),)
(Decimal('5.10'),)

## Koneksi Microsoft SQL Server local

In [63]:
import pyodbc 
cnxn_str = ("DRIVER={SQL Server};"
            "Server=LAPTOP-V2CNBSQ5;"
            "Database=prosain200411100007;"
            "Trusted_Connection=yes;")
cnxn = pyodbc.connect(cnxn_str)
cursor = cnxn.cursor()
cursor.execute("SELECT  PetalWidthCm, Species FROM iris")
result = cursor.fetchall()

for x in result:
  print(x)

(Decimal('0.00'), 'Species')
(Decimal('0.20'), 'Iris-setosa')
(Decimal('0.20'), 'Iris-setosa')
(Decimal('0.20'), 'Iris-setosa')
(Decimal('0.20'), 'Iris-setosa')
(Decimal('0.20'), 'Iris-setosa')
(Decimal('0.40'), 'Iris-setosa')
(Decimal('0.30'), 'Iris-setosa')
(Decimal('0.20'), 'Iris-setosa')
(Decimal('0.20'), 'Iris-setosa')
(Decimal('0.10'), 'Iris-setosa')
(Decimal('0.20'), 'Iris-setosa')
(Decimal('0.20'), 'Iris-setosa')
(Decimal('0.10'), 'Iris-setosa')
(Decimal('0.10'), 'Iris-setosa')
(Decimal('0.20'), 'Iris-setosa')
(Decimal('0.40'), 'Iris-setosa')
(Decimal('0.40'), 'Iris-setosa')
(Decimal('0.30'), 'Iris-setosa')
(Decimal('0.30'), 'Iris-setosa')
(Decimal('0.30'), 'Iris-setosa')
(Decimal('0.20'), 'Iris-setosa')
(Decimal('0.40'), 'Iris-setosa')
(Decimal('0.20'), 'Iris-setosa')
(Decimal('0.50'), 'Iris-setosa')
(Decimal('0.20'), 'Iris-setosa')
(Decimal('0.20'), 'Iris-setosa')
(Decimal('0.40'), 'Iris-setosa')
(Decimal('0.20'), 'Iris-setosa')
(Decimal('0.20'), 'Iris-setosa')
(Decimal('0.20'), 'Iris-setosa')
(Decimal('0.20'), 'Iris-setosa')
(Decimal('0.40'), 'Iris-setosa')
(Decimal('0.10'), 'Iris-setosa')
(Decimal('0.20'), 'Iris-setosa')
(Decimal('0.10'), 'Iris-setosa')
(Decimal('0.20'), 'Iris-setosa')
(Decimal('0.20'), 'Iris-setosa')
(Decimal('0.10'), 'Iris-setosa')
(Decimal('0.20'), 'Iris-setosa')
(Decimal('0.20'), 'Iris-setosa')
(Decimal('0.30'), 'Iris-setosa')
(Decimal('0.30'), 'Iris-setosa')
(Decimal('0.20'), 'Iris-setosa')
(Decimal('0.60'), 'Iris-setosa')
(Decimal('0.40'), 'Iris-setosa')
(Decimal('0.30'), 'Iris-setosa')
(Decimal('0.20'), 'Iris-setosa')
(Decimal('0.20'), 'Iris-setosa')
(Decimal('0.20'), 'Iris-setosa')
(Decimal('0.20'), 'Iris-setosa')
(Decimal('1.40'), 'Iris-versicolor')
(Decimal('1.50'), 'Iris-versicolor')
(Decimal('1.50'), 'Iris-versicolor')
(Decimal('1.30'), 'Iris-versicolor')
(Decimal('1.50'), 'Iris-versicolor')
(Decimal('1.30'), 'Iris-versicolor')
(Decimal('1.60'), 'Iris-versicolor')
(Decimal('1.00'), 'Iris-versicolor')
(Decimal('1.30'), 'Iris-versicolor')
(Decimal('1.40'), 'Iris-versicolor')
(Decimal('1.00'), 'Iris-versicolor')
(Decimal('1.50'), 'Iris-versicolor')
(Decimal('1.00'), 'Iris-versicolor')
(Decimal('1.40'), 'Iris-versicolor')
(Decimal('1.30'), 'Iris-versicolor')
(Decimal('1.40'), 'Iris-versicolor')
(Decimal('1.50'), 'Iris-versicolor')
(Decimal('1.00'), 'Iris-versicolor')
(Decimal('1.50'), 'Iris-versicolor')
(Decimal('1.10'), 'Iris-versicolor')
(Decimal('1.80'), 'Iris-versicolor')
(Decimal('1.30'), 'Iris-versicolor')
(Decimal('1.50'), 'Iris-versicolor')
(Decimal('1.20'), 'Iris-versicolor')
(Decimal('1.30'), 'Iris-versicolor')
(Decimal('1.40'), 'Iris-versicolor')
(Decimal('1.40'), 'Iris-versicolor')
(Decimal('1.70'), 'Iris-versicolor')
(Decimal('1.50'), 'Iris-versicolor')
(Decimal('1.00'), 'Iris-versicolor')
(Decimal('1.10'), 'Iris-versicolor')
(Decimal('1.00'), 'Iris-versicolor')
(Decimal('1.20'), 'Iris-versicolor')
(Decimal('1.60'), 'Iris-versicolor')
(Decimal('1.50'), 'Iris-versicolor')
(Decimal('1.60'), 'Iris-versicolor')
(Decimal('1.50'), 'Iris-versicolor')
(Decimal('1.30'), 'Iris-versicolor')
(Decimal('1.30'), 'Iris-versicolor')
(Decimal('1.30'), 'Iris-versicolor')
(Decimal('1.20'), 'Iris-versicolor')
(Decimal('1.40'), 'Iris-versicolor')
(Decimal('1.20'), 'Iris-versicolor')
(Decimal('1.00'), 'Iris-versicolor')
(Decimal('1.30'), 'Iris-versicolor')
(Decimal('1.20'), 'Iris-versicolor')
(Decimal('1.30'), 'Iris-versicolor')
(Decimal('1.30'), 'Iris-versicolor')
(Decimal('1.10'), 'Iris-versicolor')
(Decimal('1.30'), 'Iris-versicolor')
(Decimal('2.50'), 'Iris-virginica')
(Decimal('1.90'), 'Iris-virginica')
(Decimal('2.10'), 'Iris-virginica')
(Decimal('1.80'), 'Iris-virginica')
(Decimal('2.20'), 'Iris-virginica')
(Decimal('2.10'), 'Iris-virginica')
(Decimal('1.70'), 'Iris-virginica')
(Decimal('1.80'), 'Iris-virginica')
(Decimal('1.80'), 'Iris-virginica')
(Decimal('2.50'), 'Iris-virginica')
(Decimal('2.00'), 'Iris-virginica')
(Decimal('1.90'), 'Iris-virginica')
(Decimal('2.10'), 'Iris-virginica')
(Decimal('2.00'), 'Iris-virginica')
(Decimal('2.40'), 'Iris-virginica')
(Decimal('2.30'), 'Iris-virginica')
(Decimal('1.80'), 'Iris-virginica')
(Decimal('2.20'), 'Iris-virginica')
(Decimal('2.30'), 'Iris-virginica')
(Decimal('1.50'), 'Iris-virginica')
(Decimal('2.30'), 'Iris-virginica')
(Decimal('2.00'), 'Iris-virginica')
(Decimal('2.00'), 'Iris-virginica')
(Decimal('1.80'), 'Iris-virginica')
(Decimal('2.10'), 'Iris-virginica')
(Decimal('1.80'), 'Iris-virginica')
(Decimal('1.80'), 'Iris-virginica')
(Decimal('1.80'), 'Iris-virginica')
(Decimal('2.10'), 'Iris-virginica')
(Decimal('1.60'), 'Iris-virginica')
(Decimal('1.90'), 'Iris-virginica')
(Decimal('2.00'), 'Iris-virginica')
(Decimal('2.20'), 'Iris-virginica')
(Decimal('1.50'), 'Iris-virginica')
(Decimal('1.40'), 'Iris-virginica')
(Decimal('2.30'), 'Iris-virginica')
(Decimal('2.40'), 'Iris-virginica')
(Decimal('1.80'), 'Iris-virginica')
(Decimal('1.80'), 'Iris-virginica')
(Decimal('2.10'), 'Iris-virginica')
(Decimal('2.40'), 'Iris-virginica')
(Decimal('2.30'), 'Iris-virginica')
(Decimal('1.90'), 'Iris-virginica')
(Decimal('2.30'), 'Iris-virginica')
(Decimal('2.50'), 'Iris-virginica')
(Decimal('2.30'), 'Iris-virginica')
(Decimal('1.90'), 'Iris-virginica')
(Decimal('2.00'), 'Iris-virginica')
(Decimal('2.30'), 'Iris-virginica')
(Decimal('1.80'), 'Iris-virginica')

In [64]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in d:\anaconda3\lib\site-packages (1.4.39)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: greenlet!=0.4.17 in d:\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)

In [88]:
engine_elephantsql = db.create_engine('postgresql+psycopg2://htaeovkk:dBR1FBnoLd495wPx260Q_8xQNYXHMZif@floppy.db.elephantsql.com/htaeovkk')
engine_postgresql = db.create_engine('postgresql+psycopg2://postgres:2020@localhost:5432/prosain200411100007')
engine_mysql = db.create_engine('mysql+mysqlconnector://root@localhost/prosain200411100007')
engine_sql_server = db.create_engine('mssql+pyodbc://localhost/prosain200411100007?driver=SQL+Server+Native+Client+11.07')

## Tabel A

In [105]:
connection = engine_elephantsql.connect()
metadata = db.MetaData()
iris = db.Table('iris', metadata, autoload=True, autoload_with=engine_elephantsql)
query = db.select([iris.columns.id, iris.columns.sepallengthcm])
results = connection.execute(query).fetchall()
df = pd.DataFrame(results)
df.columns = results[0].keys()
df.head(5)

   id sepallengthcm
0   0          0.00
1   1          5.10
2   2          4.90
3   3          4.70
4   4          4.60

## Tabel B

In [106]:
connection = engine_elephantsql.connect()
metadata = db.MetaData()
iris = db.Table('iris', metadata, autoload=True, autoload_with=engine_elephantsql)
query = db.select([iris.columns.id, iris.columns.sepalwidthcm])
results = connection.execute(query).fetchall()
df = pd.DataFrame(results)
df.columns = results[0].keys()
df.head(5)

   id sepalwidthcm
0   0         0.00
1   1         3.50
2   2         3.00
3   3         3.20
4   4         3.10

## Tabel C

In [109]:
connection = engine_mysql.connect()
metadata = db.MetaData()
iris = db.Table('iris', metadata, autoload=True, autoload_with=engine_mysql)
query = db.select([iris.columns.id, iris.columns.PetalLengthCm])
results = connection.execute(query).fetchall()
df = pd.DataFrame(results)
df.columns = results[0].keys()
df.head(5)

   id PetalLengthCm
0   0          0.00
1   1          1.40
2   2          1.40
3   3          1.30
4   4          1.50

## Tabel D

In [111]:
connection = engine_mysql.connect()
metadata = db.MetaData()
iris = db.Table('iris', metadata, autoload=True, autoload_with=engine_mysql)
query = db.select([iris.columns.id, iris.columns.PetalWidthCm,iris.columns.Species])
results = connection.execute(query).fetchall()
df = pd.DataFrame(results)
df.columns = results[0].keys()
df.head(5)

   id PetalWidthCm      Species
0   0         0.00      Species
1   1         0.20  Iris-setosa
2   2         0.20  Iris-setosa
3   3         0.20  Iris-setosa
4   4         0.20  Iris-setosa